<div class="container body-content">

    <h1>@ViewBag.title</h1>

   <table>
       <tr>
           <th>ID</th>
           <th>Name</th>
           <th>Employer</th>
           <th>Location</th>
           <th>Position</th>
           <th>Skill</th>
       </tr>
       @foreach (var job in ViewBag.jobs)
       {
   <tr>

       <td>@job.Id</td>
       <td>@job.Name</td>
       <td>@job.Employer</td>
       <td>@job.Location</td>
       <td>@job.PositionType</td>
       <td>@job.CoreCompetency</td>
   </tr>
       }
   </table>


</div>